<nav class="breadcrumb-menu">
  <ul>
    <li>
      <a href="javascript:void(0);" class="active">
        <svg width="15" viewBox="0 0 15 16" fill="currentColor">
          <use href="assets/sprite.svg#svg-menu-account"></use>
        </svg>
        Home
      </a>
      <ul>
        <li><a href="javascript:void(0);">Submenu Item 1</a></li>
        <li><a href="javascript:void(0);">Submenu Item 2</a></li>
        <li><a href="javascript:void(0);">Submenu Item 3</a></li>
        <li><a href="javascript:void(0);">Submenu Item 4</a></li>
        <li><a href="javascript:void(0);">Submenu Item 5</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);">User Management</a>

      <ul>
        <li><a href="javascript:void(0);">Submenu Item 1</a></li>
        <li><a href="javascript:void(0);">Submenu Item 2</a></li>
        <li><a href="javascript:void(0);">Submenu Item 3</a></li>
        <li><a href="javascript:void(0);">Submenu Item 4</a></li>
        <li><a href="javascript:void(0);">Submenu Item 5</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);">Role</a>

      <ul>
        <li><a href="javascript:void(0);">Submenu Item 1</a></li>
        <li><a href="javascript:void(0);">Submenu Item 2</a></li>
        <li><a href="javascript:void(0);">Submenu Item 3</a></li>
        <li><a href="javascript:void(0);">Submenu Item 4</a></li>
        <li><a href="javascript:void(0);">Submenu Item 5</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div class="breadcrumb-page-header">
  <a href="javascript:void(0);" (click)="back()" class="btn icon-sm-btn">
    <span class="icon">
      <svg width="12" viewBox="0 0 12 8" fill="currentColor">
        <use href="assets/sprite.svg#svg-arrow-left"></use>
      </svg>
    </span>
    Back
  </a>
  <div class="page-title me-auto">
    <h3>User Management</h3>
    <span> User / </span>
  </div>
  <div class="action-group">
    <div class="form-group">
      <div class="search-box w-195">
        <svg width="13" height="13" viewBox="0 0 16 16" fill="currentColor" class="m-0">
          <use href="assets/sprite.svg#svg-search"></use>
        </svg>
        <input type="text" class="form-control" placeholder="Search by keyword" />
      </div>
    </div>
  </div>
</div>
