<div class="mb-4 position-relative">
  <app-dropdown heading="Linked Tickets" [isCollapsed]="true">
    <div class="linked-tickets mt-3">
      <button
        for="upload"
        class="ch-icon-btn ch-icon-single disabled-hover cursor-pointer mb-0 plus-btn"
        (click)="toggleAddMode()"
      >
        <svg width="11" viewBox="0 0 11 10" fill="currentColor">
          <use xlink:href="assets/sprite.svg#plus-icon"></use>
        </svg>
      </button>

      @if (!isAdding()) {
        <ul class="tickets">
          @for (ticket of linkingItemsSignal(); track ticket.id) {
            <li class="ticket d-flex justify-content-between align-items-center">
              <span class="ticket-info"> {{ ticket.ticketNumber }}: {{ ticket.subject }} </span>
              <button
                class="ch-icon-btn ch-icon-single disabled-hover"
                (click)="deleteLinking(ticket.id)"
              >
                <svg
                  width="10"
                  viewBox="0 0 13 13"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <use href="assets/sprite.svg#red-close-icon"></use>
                </svg>
              </button>
            </li>
          } @empty {
            <li>There is no linked ticket</li>
          }
        </ul>
      }
    </div>
    @if (isAdding()) {
      <div class="app-form mt-3">
        <div class="form-group">
          <label for="linkedTickets" class="input-label">Linked Tickets</label>
          <ng-select
            id="linkedTickets"
            class="select-dropdown"
            [(ngModel)]="selectedLinkedItems"
            [items]="ticketDropdownItems()"
            bindLabel="name"
            bindValue="id"
            [virtualScroll]="true"
            [multiple]="true"
          >
          </ng-select>
          <button class="ch-btn ch-btn-green mt-3" (click)="addLinkedItems()">Save</button>
          <button class="ch-btn ch-btn-red-border ms-2" (click)="toggleAddMode()">Cancel</button>
        </div>
      </div>
    }
  </app-dropdown>
</div>
