<li [ngClass]="{ 'text-green-300': isValid, 'text-danger': hasError }">
  @if (isValid) {
    <svg width="14" viewBox="0 0 14 14" fill="currentColor">
      <use [attr.href]="'assets/sprite.svg#svg-check-rounded'"></use>
    </svg>
  } @else {
    @if (hasError) {
      <svg class="me-1" width="10" viewBox="0 0 10 10" fill="currentColor">
        <use href="assets/sprite.svg#svg-close"></use>
      </svg>
    } @else {
      <!--        <svg class="me-1" width="10" viewBox="0 0 18 18" fill="currentColor">-->
      <!--          <use href="assets/sprite.svg#svg-plus"></use></svg-->
      <!--        >-->
      <span class="dot"></span>
    }
  }

  {{ message() }}
</li>

<!--<pre>-->
<!--  {{control.errors | json}}-->
<!--</pre>-->
