.dot {
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ddd;
  position: relative;
  top: -1px;
}
li {
  color: #989898;
  font-size: 12px;
  font-weight: 400;
}
