<div class="modal-header">
  <h2>{{ user ? 'Edit' : 'Create' }} User</h2>
  <button type="button" (click)="bsModalRef.hide()">&times;</button>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="app-form" (ngSubmit)="submit()">
    <div class="form-group mb-3">
      <label for="firstName" class="input-label"
        >First Name <span class="text-danger">*</span></label
      >
      <!-- <p>{{ form.get('firstName')?.value }}</p> -->
      <!-- <input type="text" id="firstName" class="form-control" placeholder="First Name" formControlName="firstName" />
      <strong class="text-danger" *ngxControlError="form.controls['firstName']; track: 'required'">First name is
        required.</strong> -->
    </div>
    <div class="form-group mb-3">
      <label for="lastName" class="input-label">Last Name <span class="text-danger">*</span></label>
      <input
        type="text"
        id="lastName"
        class="form-control"
        placeholder="Last Name"
        formControlName="lastName"
      />
      <strong class="text-danger" *ngxControlError="form.controls['lastName']; track: 'required'"
        >Last name is required.</strong
      >
    </div>
    <div class="form-group mb-3">
      <label for="email" class="input-label">Email <span class="text-danger">*</span></label>
      <input
        type="email"
        id="email"
        class="form-control"
        placeholder="Email"
        formControlName="email"
      />
      <strong class="text-danger" *ngxControlError="form.controls['email']; track: 'required'"
        >Email is required.</strong
      >
    </div>
    <div class="form-group mb-3">
      <label for="phone" class="input-label">Phone <span class="text-danger">*</span></label>
      <input
        type="text"
        id="phone"
        class="form-control"
        placeholder="Phone"
        formControlName="phone"
      />
      <strong class="text-danger" *ngxControlError="form.controls['phone']; track: 'required'"
        >Phone is required.</strong
      >
    </div>
    <div class="form-group mb-3">
      <label for="roleId" class="input-label">Role <span class="text-danger">*</span></label>
      <ng-select
        class="select-dropdown"
        placeholder="All"
        clearable="true"
        searchable="false"
        [multiple]="false"
        formControlName="roleId"
      >
        @for (role of roleDropdown(); track role.roleId) {
          <ng-option [value]="role.roleId">{{ role.roleName }}</ng-option>
        }
      </ng-select>
      <strong class="text-danger" *ngxControlError="form.controls['roleId']; track: 'required'"
        >Role is required.</strong
      >
    </div>
    <div class="form-group mb-3">
      <label for="departmentId" class="input-label"
        >Department <span class="text-danger">*</span></label
      >
      <ng-select
        class="select-dropdown"
        placeholder="All"
        clearable="true"
        searchable="false"
        [multiple]="false"
        formControlName="departmentId"
      >
        @for (role of departments; track role.id) {
          <ng-option [value]="role.id">{{ role.fullName }}</ng-option>
        }
      </ng-select>
      <strong
        class="text-danger"
        *ngxControlError="form.controls['departmentId']; track: 'required'"
        >Department is required.</strong
      >
    </div>
    <div class="form-group mb-3">
      <label for="departmentId" class="input-label">Is Admin</label>
      <input type="checkbox" id="validate" formControlName="isAdmin" />
    </div>

    <div class="d-flex justify-content-center gap-3 mt-4">
      <button class="btn btn-outline-danger" type="button" (click)="back()">Cancel</button>
      <button class="btn btn-theme" type="submit" [disabled]="isSubmitting()">Save</button>
    </div>
  </form>
</div>
