<app-breadcrumbs></app-breadcrumbs>
<div class="p-3">
  <div class="d-flex justify-content-end mb-3">
    <button class="ch-icon-btn me-2" (click)="openAddTicket()">
      <i class="bi bi-plus-lg"></i> Add Ticket
    </button>

    <button
      class="ch-icon-btn me-2"
      [class.active]="viewMode() === 'list'"
      (click)="setView('list')"
    >
      <i class="bi bi-list"></i> List
    </button>

    <button
      class="ch-icon-btn"
      [class.active]="viewMode() === 'kanban'"
      (click)="setView('kanban')"
    >
      <i class="bi bi-kanban"></i> Kanban
    </button>
  </div>

  <div class="d-flex gap-2">
    <div
      class="quotation-tree--container w-100"
      style="height: calc(100vh - 260px)"
      [class.collaps]="isCollaps()"
    >
      <div class="collaps-title">
        <span>Filters</span>
      </div>
      <div class="wTree wTree-tiny wTree-draggable">
        <div class="tree-list-head d-flex justify-content-between">
          <div class="left d-flex align-items-center">
            <div
              class="circle-icon-btn"
              (click)="toggleClass('isCollaps')"
              tabindex="0"
              role="button"
            >
              <svg
                width="8"
                viewBox="0 0 9 13"
                xmlns="http://www.w3.org/2000/svg"
                class="arrow-right"
                fill="currentColor"
              >
                <use xlink:href="assets/sprite.svg#svg-angle-left"></use>
              </svg>
            </div>
            <h5 class="ms-2">Filters</h5>
          </div>
        </div>
        <app-ticket-filter></app-ticket-filter>
      </div>
    </div>
    <div class="w-100">
      @if (viewMode() === 'list') {
        <app-ticket-list-view [tickets]="ticketsResponse()?.items || []"></app-ticket-list-view>
      }
      @if (viewMode() === 'kanban') {
        <app-ticket-kanban-view [tickets]="ticketsResponse()?.items || []"></app-ticket-kanban-view>
      }
    </div>
  </div>
</div>
