<!-- <div class="kanban-board">
  @for (status of statuses; track status) {
    <div class="kanban-column">
      <div class="kanban-header">
        {{ status }} <span class="count">({{ filteredTicketsByStatus()[status].length }})</span>
      </div>

      @for (t of filteredTicketsByStatus()[status]; track t.id) {
        <div class="ticket-card">
          <div class="ticket-card-header">
            <span class="ticket-id">{{ t.ticketNumber }}</span>
            <span
              class="badge"
              [class.high]="t.priority === 'High'"
              [class.medium]="t.priority === 'Medium'"
              [class.low]="t.priority === 'Low'"
              [class.critical]="t.priority === 'Critical'"
            >
              {{ t.priority }}
            </span>
          </div>

          <div class="ticket-card-body">
            <div class="ticket-title">{{ t.title }}</div>
            <div class="ticket-subject">{{ t.subject }}</div>
            <div class="ticket-desc">{{ t.description }}</div>
          </div>

          <div class="ticket-card-footer">
            <span class="assignee">{{ t.assignee }}</span>
            <span class="date">{{ t.createdDate }}</span>
          </div>
        </div>
      }
    </div>
  }
</div> -->
