<div class="app-modal">
  <div class="modal-header">
    <h5 class="modal-title">Create New Ticket</h5>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <svg width="10" viewBox="0 0 10 10"><use href="assets/sprite.svg#svg-close"></use></svg>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="app-form">
      <!-- 🧾 Basic Information -->
      <section class="ticket-section card p-3">
        <h6 class="text-muted">Basic Information</h6>

        <div class="form-grid">
          <div class="form-group my-3">
            <label for="fkCompanyId" class="input-label"
              >Company <span class="text-danger">*</span></label
            >
            <ng-select
              id="fkCompanyId"
              class="select-dropdown"
              [items]="companyValues"
              bindLabel="value"
              bindValue="id"
              formControlName="fkCompanyId"
              (change)="reloadSetupData(form.value.fkCompanyId)"
              [searchable]="true"
              placeholder="Select company"
            >
            </ng-select>

            <!-- <small
              class="text-danger fw-bold"
              *ngxControlError="form.controls['fkCompanyId']; track: 'required'"
            >
              Company is required.
            </small> -->
          </div>

          <div class="form-group mb-3">
            <label for="subject" class="input-label"
              >Subject <span class="text-danger">*</span></label
            >
            <input
              id="subject"
              type="text"
              formControlName="subject"
              class="form-control"
              placeholder="Enter ticket subject..."
            />
          </div>

          <div class="form-group mb-0">
            <label for="summaryNote" class="input-label"
              >Description <span class="text-danger">*</span></label
            >
            <div class="ngx-editor-container">
              <ngx-editor-menu [editor]="editorRef"></ngx-editor-menu>
              <ngx-editor
                id="summaryNote"
                formControlName="description"
                [editor]="editorRef"
                placeholder="Describe the issue in detail"
              ></ngx-editor>
            </div>
            <!-- <textarea
              id="summaryNote"
              formControlName="description"
              rows="3"
              class="form-control"
              placeholder="Describe the issue in detail..."
            ></textarea> -->
          </div>
        </div>
      </section>

      <!-- 👤 Customer & Project -->
      <section class="ticket-section mt-3 card p-3">
        <h6 class="text-muted">Customer & Project</h6>
        <div class="form-grid mt-2">
          <div class="form-group">
            <label class="app-form--checkbox" for="isCustomer"
              ><input
                type="checkbox"
                id="isCustomer"
                formControlName="isCustomer"
                (change)="onIsCustomerChanged($event)"
              /><span class="d-flex align-items-center justify-content-center"
                ><svg viewBox="0 0 10 8" fill="none" width="10">
                  <use xlink:href="assets/sprite.svg#svg-check"></use></svg
              ></span>
              <p class="mb-0">Is Related to a Customer?</p>
            </label>
          </div>
          @if (showCustomer) {
            <div class="form-group mb-0">
              <label for="customer" class="input-label"
                >Customer <span class="text-danger">*</span></label
              >
              <ng-select
                id="customer"
                class="select-dropdown"
                [items]="customers()"
                bindLabel="fullName"
                bindValue="id"
                [virtualScroll]="true"
                [formControlName]="'fkCustomerId'"
                [searchable]="true"
                placeholder="Select customer"
              >
              </ng-select>
            </div>
          } @else {
            <div class="form-group mb-0">
              <label for="project" class="input-label"
                >Project <span class="text-danger">*</span></label
              >
              <ng-select
                id="project"
                class="select-dropdown"
                [items]="projects()"
                bindLabel="referenceNumber"
                bindValue="id"
                [virtualScroll]="true"
                [formControlName]="'fkProjectId'"
                [searchable]="true"
                placeholder="Select project"
              >
              </ng-select>
            </div>
          }
        </div>
      </section>

      <!-- 📂 Ticket Type & Details -->
      <section class="ticket-section card p-3 mt-3">
        <h6 class="text-muted">Ticket Type</h6>

        <div class="form-grid mt-3">
          <div class="form-group">
            <label for="ticketType" class="input-label"
              >Ticket Type <span class="text-danger">*</span></label
            >
            <ng-select
              id="ticketType"
              class="select-dropdown"
              [items]="ticketTypes()"
              bindLabel="title"
              bindValue="id"
              [formControlName]="'fkTicketTypeId'"
              [searchable]="true"
              placeholder="Select ticket type"
              (change)="onTicketTypeChange($event)"
            >
            </ng-select>
          </div>

          <!-- <div class="form-group">
            <p>Relocation</p>
            <ng-select
              class="select-dropdown"
              [items]="rootCauses()"
              bindLabel="name"
              bindValue="id"
              [formControlName]="'fkRelocationId'"
              [searchable]="true"
              placeholder="Select relocation"
            >
              <ng-template ng-option-tmp let-item="item">
                <span>{{ item.name }}</span>
              </ng-template>
            </ng-select>
          </div> -->

          <div class="form-group mb-0">
            <label for="rootCause" class="input-label"
              >Root Cause <span class="text-danger">*</span></label
            >
            <ng-select
              id="rootCause"
              class="select-dropdown"
              [items]="rootCauses()"
              bindLabel="name"
              bindValue="id"
              [formControlName]="'fkRootCauseId'"
              [searchable]="true"
              placeholder="Select root cause"
            >
            </ng-select>
          </div>
        </div>
      </section>

      <!-- 🧩 Dynamic Subform -->
      @if (subforms() && subforms().length > 0) {
        <section class="subform card mt-3 p-3">
          <h6 class="text-muted">Additional Info</h6>
          <div formArrayName="subForm" class="form-grid mt-3">
            @for (field of subFormArray.controls; track $index; let i = $index) {
              <div class="form-group" [formGroupName]="i">
                <label for="{{ i }}" class="input-label">{{ field.value.displayName }}</label>

                @switch (field.value.dataType) {
                  @case (EnumDataType.textInput) {
                    <input
                      id="{{ i }}"
                      type="text"
                      class="form-control"
                      placeholder="Enter {{ field.value.displayName }}"
                      formControlName="value"
                      [value]="field.value.value"
                    />
                  }
                  @case (EnumDataType.number) {
                    <input
                      id="{{ i }}"
                      type="number"
                      class="form-control"
                      placeholder="Enter {{ field.value.displayName }}"
                      formControlName="value"
                      [value]="field.value.value"
                    />
                  }

                  @case (EnumDataType.textArea) {
                    <textarea
                      id="{{ i }}"
                      rows="3"
                      class="form-control"
                      placeholder="Enter {{ field.value.displayName }}"
                      formControlName="value"
                      [value]="field.value.value"
                    ></textarea>
                  }

                  @case (EnumDataType.dropdownList) {
                    <ng-select
                      id="{{ i }}"
                      class="select-dropdown"
                      [items]="field.value.ddlValues"
                      [multiple]="true"
                      formControlName="value"
                      bindLabel="label"
                      bindValue="value"
                      placeholder="Select {{ field.value.displayName }}"
                    ></ng-select>
                  }

                  @default {
                    <input id="{{ i }}" type="text" class="form-control" formControlName="value" />
                  }
                }
              </div>
            }
          </div>
        </section>
      }

      <!-- 👥 Assignment & Attachments -->
      <section class="ticket-section card mt-3 p-3">
        <h6 class="text-muted">Assignment</h6>

        <div class="form-grid mt-3">
          <div class="form-group">
            <label for="user" class="input-label"
              >Assign User <span class="text-danger">*</span></label
            >
            <ng-select
              id="user"
              class="select-dropdown"
              [items]="users()"
              bindLabel="name"
              bindValue="id"
              [virtualScroll]="true"
              [formControlName]="'fkAssignUser'"
              [searchable]="true"
              placeholder="Select user"
            >
            </ng-select>
          </div>

          <!-- Departments (multi-select) -->
          <div class="form-group">
            <label for="departments" class="input-label"
              >Departments <span class="text-danger">*</span></label
            >
            <ng-select
              id="departments"
              class="select-dropdown"
              [items]="departments()"
              [multiple]="true"
              bindLabel="name"
              bindValue="id"
              [formControlName]="'fkDepartmentId'"
              [searchable]="true"
              placeholder="Select departments"
            >
            </ng-select>
          </div>
        </div>
      </section>

      <div class="form-group card mt-3 p-3 pt-4">
        <h6 class="text-muted">Attachments</h6>
        <div class="d-flex justify-content-center align-items-center p-3 gap-3 file-box">
          <div class="icon-text-group d-flex justify-content-center align-items-center gap-2">
            <img class="d-block" src="assets/images/upload-paste-icon.svg" alt="Upload" />
            <p class="mb-0">Click to upload file</p>
          </div>
          <div class="file-input">
            <label for="upload" class="ch-icon-btn disabled-hover cursor-pointer upload-btn"
              ><span>Upload File</span></label
            >
            <input
              type="file"
              name="upload"
              id="upload"
              multiple
              (change)="onFileSelected($event)"
              hidden=""
            />
          </div>
        </div>

        @if (addedFiles().length) {
          <ul class="attached-file-list mt-3 d-flex align-items-center flex-wrap gap-2">
            @for (file of addedFiles(); track $index) {
              <li class="attached-file-item">
                <div class="d-flex align-items-center gap-3">
                  <div class="file-name">{{ file.fileName }}</div>
                  <button class="file-close" (click)="removeFile($index)">
                    <svg
                      width="10"
                      viewBox="0 0 13 13"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <use href="assets/sprite.svg#red-close-icon"></use>
                    </svg>
                  </button>
                </div>
              </li>
            }
          </ul>
        }
      </div>

      <!-- <hr /> -->

      <!-- Submit -->
      <div class="d-flex justify-content-end mt-3">
        <button
          type="submit"
          class="ch-btn ch-btn-green"
          [disabled]="isSubmitting() || form.invalid"
        >
          Create Ticket
        </button>
      </div>
    </form>
  </div>
</div>
