@use '../../../../../../../styles/base/variable.scss' as *;
.card {
  h6 {
    position: absolute;
    top: -10px;
    left: 12px;
    z-index: 10;
    background: #fff;
  }
}

.file-box {
  border: 2px dashed #d2d1d4;
  border-radius: 8px;
}

.attached-file-item {
  border: 1px solid #d2d1d4;
  padding: 4px 8px;

  .file-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $light-gray;
    word-break: break-all;
  }

  .file-close {
    all: unset;
  }
}
.upload-btn {
  border-color: $light-gray;
  // border-radius: 4px;
  // padding: 6px 12px;
  // font-size: 14px;
  // color: #000;
  &:hover {
    color: $fontColor;
  }
}
