<div class="ticket-type-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="fw-semibold">Tickets</h4>
    <button class="ch-btn ch-btn-green" (click)="openAddEditModal(null)">Add Ticket</button>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="loading()">Loading...</div>

  <!-- ========================== -->
  <!-- 📋 Ticket Type Table -->
  <!-- ========================== -->
  <table class="app-table">
    <thead class="table-light">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>QMS Type</th>
        <th>Priority</th>
        <th>Default Assign User</th>
        <th>Default Assign Departments</th>
        <th>Enabled</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of ticketTypes()">
        <td>{{ t.title }}</td>
        <td>{{ t.description }}</td>
        <td>{{ t.qmsType | enumToString: qmsType }}</td>
        <td>
          <span [class]="'badge bg-' + getPriorityColor(t.priority)">
            {{ t.priority | enumToString: enumPriority }}
          </span>
        </td>
        <td>{{ t.userName }}</td>
        <td>
          <span *ngFor="let d of t.departmentNames" class="badge bg-secondary me-1">
            {{ d }}
          </span>
        </td>
        <td>
          <span [class.text-success]="t.isEnabled" [class.text-danger]="!t.isEnabled">
            {{ t.isEnabled ? 'Active' : 'Disabled' }}
          </span>
        </td>
        <td>
          <button
            type="button"
            type="button"
            class="ch-icon-btn me-2"
            (click)="openAddEditModal(t)"
          >
            <span class="icon">
              <svg
                width="11"
                height="10"
                viewBox="0 0 11 10"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <use xlink:href="assets/sprite.svg#svg-edit"></use>
              </svg>
            </span>
            Edit
          </button>
          <button type="button" type="button" class="ch-icon-btn" (click)="delete(t.id)">
            <span class="icon">
              <svg width="12" viewBox="0 0 12 13" fill="currentColor">
                <use xlink:href="assets/sprite.svg#svg-recycle-bin"></use>
              </svg>
            </span>
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
