@use '../../../../../../../styles/base/variable' as *;
.attached-file-item {
  border: 1px solid #d2d1d4;
  padding: 4px 8px;

  .file-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $light-gray;
    word-break: break-all;
  }

  .file-close {
    all: unset;
    line-height: normal;
  }
}

.plus-btn {
  position: absolute;
  top: 0;
  right: 0;
  &:hover {
    color: $fontColor;
  }
}
