<div class="card p-3 shadow-sm">
  <h5 class="mb-3">Email Configuration</h5>

  <!-- ======================== -->
  <!-- Email Config Form -->
  <!-- ======================== -->
  <form [formGroup]="form" (ngSubmit)="save()" class="app-form">
    <div class="row">
      <div
        class="form-group col-lg-6"
        [class.form-error]="
          form.controls['userName'].invalid &&
          (form.controls['userName'].dirty || form.controls['userName'].touched)
        "
      >
        <div class="position-relative">
          <label class="input-label" for="userName">User Name</label>
          <input
            id="userName"
            type="text"
            class="form-control"
            formControlName="userName"
            placeholder="User Name"
          />
        </div>
      </div>
      <div
        class="form-group col-lg-6"
        [class.form-error]="
          form.controls['password'].invalid &&
          (form.controls['password'].dirty || form.controls['password'].touched)
        "
      >
        <div class="position-relative">
          <label class="input-label" for="password">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            id="password"
            placeholder="Password"
          />
        </div>
      </div>
      <div
        class="form-group col-lg-6"
        [class.form-error]="
          form.controls['host'].invalid &&
          (form.controls['host'].dirty || form.controls['host'].touched)
        "
      >
        <div class="position-relative">
          <label class="input-label" for="host">Host</label>
          <input
            type="text"
            class="form-control"
            formControlName="host"
            id="host"
            placeholder="Host"
          />
        </div>
      </div>
      <div
        class="form-group col-lg-6"
        [class.form-error]="
          form.controls['smtpPort'].invalid &&
          (form.controls['smtpPort'].dirty || form.controls['smtpPort'].touched)
        "
      >
        <div class="position-relative">
          <label class="input-label" for="smtpPort">SMTP Port</label>
          <input
            type="number"
            class="form-control"
            formControlName="smtpPort"
            id="smtpPort"
            placeholder="SMTP Port"
          />
        </div>
      </div>
      <div
        class="form-group col-lg-6"
        [class.form-error]="
          form.controls['imapPort'].invalid &&
          (form.controls['imapPort'].dirty || form.controls['imapPort'].touched)
        "
      >
        <div class="position-relative">
          <label class="input-label" for="imapPort">IMAP Port</label>
          <input
            type="number"
            class="form-control"
            formControlName="imapPort"
            id="imapPort"
            placeholder="IMAP Port"
          />
        </div>
      </div>
      <div
        class="form-group col-lg-6"
        [class.form-error]="
          form.controls['name'].invalid &&
          (form.controls['name'].dirty || form.controls['name'].touched)
        "
      >
        <div class="position-relative">
          <label class="input-label" for="name">Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            id="name"
            placeholder="Name"
          />
        </div>
      </div>
      <div
        class="form-group col-lg-6"
        [class.form-error]="
          form.controls['bcc'].invalid &&
          (form.controls['bcc'].dirty || form.controls['bcc'].touched)
        "
      >
        <div class="position-relative">
          <label class="input-label" for="bcc">BCC</label>
          <input
            type="text"
            class="form-control"
            formControlName="bcc"
            id="bcc"
            placeholder="BCC"
          />
        </div>
      </div>
      <div class="col-lg-6 form-group d-flex align-items-center">
        <label class="app-form--checkbox" for="isDefault"
          ><input type="checkbox" formControlName="isDefault" id="isDefault" /><span
            class="d-flex align-items-center justify-content-center"
            ><svg viewBox="0 0 10 8" fill="none" width="10">
              <use xlink:href="assets/sprite.svg#svg-check"></use></svg
          ></span>
          <p>Set as Default</p></label
        >
      </div>
      <div class="col-lg-12 text-end mb-4">
        <button type="submit" class="ch-btn ch-btn-green me-2" [disabled]="form.invalid">
          {{ selectedId ? 'Update' : 'Save' }}
        </button>
        <button type="button" class="ch-btn ch-btn-red-border" (click)="resetForm()">Reset</button>
      </div>
    </div>
  </form>

  <!-- ======================== -->
  <!-- Config List Table -->
  <!-- ======================== -->
  <table class="app-table">
    <thead class="fixed-thead">
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Host</th>
        <th>SMTP</th>
        <th>IMAP</th>
        <th>Default</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (cfg of emailConfigs(); track cfg.id; let i = $index) {
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ cfg.userName }}</td>
          <td>{{ cfg.host }}</td>
          <td>{{ cfg.smtpPort }}</td>
          <td>{{ cfg.imapPort }}</td>
          <td class="text-center">
            <label class="app-form--checkbox" [for]="i"
              ><input
                type="checkbox"
                [id]="i"
                [checked]="cfg.isDefault"
                (change)="!cfg.isDefault && setDefault(cfg.id)"
                [disabled]="cfg.isDefault"
                title="Set as Default" /><span
                class="d-flex align-items-center justify-content-center"
                ><svg viewBox="0 0 10 8" fill="none" width="10">
                  <use xlink:href="assets/sprite.svg#svg-check"></use></svg></span
            ></label>
          </td>
          <td>
            <button class="ch-btn ch-btn-green h-30 me-2" (click)="edit(cfg)">Edit</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
