h2 {
  font-weight: 800;
  font-size: 32px;
}
.btn-theme {
  font-weight: 700 !important;
  min-height: 48px;
}
.medium {
  color: #ffb92d;
}
.strong {
  color: #59b96b;
}
.append-input {
  position: relative;
  .form-control {
    padding-inline: 40px;
  }
  .left-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .right-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .search-close-icon {
    pointer-events: auto;
    cursor: pointer;
    border: none;
    background: transparent;
    // color: color('red', 600);
    padding: 0;
  }
}
