<div class="product-database-sidebar pe-2">
  <div class="filter-sidebar">
    <div class="scroll-y p-3" style="height: calc(100vh - 370px)">
      <!-- Ticket Type -->
      <app-filter-sidebar filterName="Ticket Type" [isCollapsedShow]="true">
        <ul>
          <li>
            <label class="custom-checkbox">
              <input
                type="checkbox"
                class="peer hidden"
                [checked]="isAllTicketTypeChecked()"
                (change)="resetTicketTypeSelection()"
              />
              <span></span>
              All
              <p>{{ ticketTypesToggle.visible().length }}</p>
            </label>
          </li>
          @for (ticketType of ticketTypesToggle.visible(); track ticketType.id) {
            <li>
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  class="peer hidden"
                  [checked]="selectedTicketTypeIds().includes(ticketType.id)"
                  (change)="ticketTypeToggle(ticketType.id, $event.target.checked)"
                />
                <span></span>
                {{ ticketType.title }}
                <p>{{ 0 }}</p>
              </label>
            </li>
          }
        </ul>
        @if (ticketTypesToggle.title()) {
          <button class="see-more-btn" type="button" (click)="ticketTypesToggle.toggle()">
            {{ ticketTypesToggle.title() }}
          </button>
        }
      </app-filter-sidebar>
      <!-- Ticket Status -->
      <app-filter-sidebar filterName="Ticket Status" [isCollapsedShow]="true">
        <ul>
          <li>
            <label class="custom-checkbox">
              <input
                type="checkbox"
                class="peer hidden"
                [checked]="isAllticketStatuseChecked()"
                (change)="resetTicketStatusSelection()"
              />
              <span></span>
              All
              <p>{{ allticketStatusesCount() }}</p>
            </label>
          </li>
          @for (ticketStatus of ticketStatusesToggle.visible(); track ticketStatus.value) {
            <li>
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  class="peer hidden"
                  [checked]="selectedticketStatusIds().includes(ticketStatus.value)"
                  (change)="ticketStatusToggle(ticketStatus.value, $event.target.checked)"
                />
                <span></span>
                {{ ticketStatus.label }}
                <p>{{ 0 }}</p>
              </label>
            </li>
          }
        </ul>
        @if (ticketStatusesToggle.title()) {
          <button class="see-more-btn" type="button" (click)="ticketStatusesToggle.toggle()">
            {{ ticketStatusesToggle.title() }}
          </button>
        }
      </app-filter-sidebar>
      <!-- Ticket Priority -->
      <app-filter-sidebar filterName="Ticket Priority" [isCollapsedShow]="true">
        <ul>
          <li>
            <label class="custom-checkbox">
              <input
                type="checkbox"
                class="peer hidden"
                [checked]="isAllPriorityChecked()"
                (change)="resetTicketPrioritySelection()"
              />
              <span></span>
              All
              <p>{{ allprioritysCount() }}</p>
            </label>
          </li>
          @for (priority of prioritysToggle.visible(); track priority.value) {
            <li>
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  class="peer hidden"
                  [checked]="selectedPriorityIds().includes(priority.value)"
                  (change)="ticketPriorityToggle(priority.value, $event.target.checked)"
                />
                <span></span>
                {{ priority.label }}
                <p>{{ 0 }}</p>
              </label>
            </li>
          }
        </ul>
        @if (ticketStatusesToggle.title()) {
          <button class="see-more-btn" type="button" (click)="ticketStatusesToggle.toggle()">
            {{ ticketStatusesToggle.title() }}
          </button>
        }
      </app-filter-sidebar>
      <!-- User -->
      <app-filter-sidebar filterName="User" [isCollapsedShow]="true">
        <ul>
          <li>
            <label class="custom-checkbox">
              <input
                type="checkbox"
                class="peer hidden"
                [checked]="isAllUserChecked()"
                (change)="resetUserSelection()"
              />
              <span></span>
              All
              <p>{{ allusersCount() }}</p>
            </label>
          </li>
          @for (user of usersToggle.visible(); track user.id) {
            <li>
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  class="peer hidden"
                  [checked]="selectedUserIds().includes(user.id)"
                  (change)="ticketUserToggle(user.id, $event.target.checked)"
                />
                <span></span>
                {{ user.name }}
                <p>{{ 0 }}</p>
              </label>
            </li>
          }
        </ul>
        @if (usersToggle.title()) {
          <button class="see-more-btn" type="button" (click)="usersToggle.toggle()">
            {{ usersToggle.title() }}
          </button>
        }
      </app-filter-sidebar>

      <!-- Price (Ex VAT) -->
      <app-filter-sidebar filterName="Date" [isCollapsedShow]="true">
        <ul>
          <li>
            <label
              class="app-form--radio"
              for="timePeriodAll"
              (click)="setTimeFilter(enumTimePeriod.ALL)"
              tabindex="0"
              role="button"
            >
              <input
                type="radio"
                id="timePeriodAll"
                [checked]="filters.value().timePeriod === enumTimePeriod.ALL"
              />
              <span class="class"></span>
              <p>All</p>
            </label>
          </li>
          <li>
            <label
              class="app-form--radio"
              for="CurrentMonth"
              (click)="setTimeFilter(enumTimePeriod.CurrentMonth)"
              tabindex="0"
              role="button"
            >
              <input
                type="radio"
                id="CurrentMonth"
                [checked]="filters.value().timePeriod === enumTimePeriod.CurrentMonth"
              />
              <span class="class"></span>
              <p>Current Month</p>
            </label>
          </li>
          <li>
            <label
              class="app-form--radio"
              for="PreviousMonth"
              (click)="setTimeFilter(enumTimePeriod.PreviousMonth)"
              tabindex="0"
              role="button"
            >
              <input
                type="radio"
                id="PreviousMonth"
                [checked]="filters.value().timePeriod === enumTimePeriod.PreviousMonth"
              />
              <span class="class"></span>
              <p>Previous Month</p>
            </label>
          </li>
          <li>
            <label
              class="app-form--radio"
              for="CurrentYear"
              (click)="setTimeFilter(enumTimePeriod.CurrentYear)"
              tabindex="0"
              role="button"
            >
              <input
                type="radio"
                id="CurrentYear"
                [checked]="filters.value().timePeriod === enumTimePeriod.CurrentYear"
              />
              <span class="class"></span>
              <p>Current Year</p>
            </label>
          </li>
          <li>
            <label
              class="app-form--radio"
              for="LastYear"
              (click)="setTimeFilter(enumTimePeriod.LastYear)"
              tabindex="0"
              role="button"
            >
              <input
                type="radio"
                id="LastYear"
                [checked]="filters.value().timePeriod === enumTimePeriod.LastYear"
              />
              <span class="class"></span>
              <p>Last Year</p>
            </label>
          </li>
          <li>
            <label
              class="app-form--radio"
              for="custom"
              (click)="setTimeFilter(enumTimePeriod.Custom)"
              tabindex="0"
              role="button"
            >
              <input
                type="radio"
                id="custom"
                [checked]="filters.value().timePeriod === enumTimePeriod.Custom"
              />
              <span class="class"></span>
              <p>Custom</p>
            </label>
          </li>
        </ul>
        <div class="app-sidebar-date-field">
          <div class="d-flex align-items-center has-date-icon">
            <div class="position-relative">
              <input
                type="text"
                id="price-min-input1"
                name="price-min"
                (ngModelChange)="minDateChange($event)"
                class="form-control form-control-circle h-30"
                placeholder="Start Date"
                [(ngModel)]="minDate"
                [maxDate]="maxDate()"
                [readonly]="true"
                bsDatepicker
                appDateMask
                [bsConfig]="{
                  adaptivePosition: true,
                }"
                autocomplete="off"
                [class.disabled]="!(filters.value().timePeriod === enumTimePeriod.Custom)"
              />
            </div>

            <span class="px-2"></span>
            <div class="position-relative">
              <input
                type="text"
                id="price-min-input2"
                name="price-min"
                (ngModelChange)="maxDateChange($event)"
                class="form-control form-control-circle h-30"
                placeholder="End Date"
                [(ngModel)]="maxDate"
                bsDatepicker
                appDateMask
                [bsConfig]="{ adaptivePosition: true }"
                autocomplete="off"
                [minDate]="minDate()"
                [readonly]="true"
                [class.disabled]="!(filters.value().timePeriod === enumTimePeriod.Custom)"
              />
            </div>
            <span></span>
          </div>
        </div>
      </app-filter-sidebar>
    </div>
    <div class="d-flex justify-content-center gap-2 mt-2">
      <button class="ch-btn ch-btn-red-border" type="button" (click)="resetToDefault()">
        Reset
      </button>
    </div>
  </div>
</div>
